<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registration_fname %><br>
    <%= f.text_field :registration_fname %>
  </div>
  <div class="field">
    <%= f.label :registration_lname %><br>
    <%= f.text_field :registration_lname %>
  </div>
  <div class="field">
    <%= f.label :registration_email %><br>
    <%= f.text_field :registration_email %>
  </div>
  <div class="field">
    <%= f.label :registration_mobile %><br>
    <%= f.text_field :registration_mobile %>
  </div>
  <div class="field">
    <%= f.label :registration_landline %><br>
    <%= f.text_field :registration_landline %>
  </div>
  <div class="field">
    <%= f.label :registration_state %><br>
    <%= f.text_field :registration_state %>
  </div>
  <div class="field">
    <%= f.label :registration_district %><br>
    <%= f.text_field :registration_district %>
  </div>
  <div class="field">
    <%= f.label :registration_taluka %><br>
    <%= f.text_field :registration_taluka %>
  </div>
  <div class="field">
    <%= f.label :registration_city %><br>
    <%= f.text_field :registration_city %>
  </div>
  <div class="field">
    <%= f.label :registration_address %><br>
    <%= f.text_field :registration_address %>
  </div>
  <div class="field">
    <%= f.label :registration_pincode %><br>
    <%= f.text_field :registration_pincode %>
  </div>
  <div class="field">
    <%= f.label :registration_username %><br>
    <%= f.text_field :registration_username %>
  </div>
  <div class="field">
    <%= f.label :registration_password %><br>
    <%= f.text_field :registration_password %>
  </div>
  <div class="field">
    <%= f.label :registration_type %><br>
    <%= f.text_field :registration_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
