<p id="notice"><%= notice %></p>

<p>
  <strong>Registration fname:</strong>
  <%= @registration.registration_fname %>
</p>

<p>
  <strong>Registration lname:</strong>
  <%= @registration.registration_lname %>
</p>

<p>
  <strong>Registration email:</strong>
  <%= @registration.registration_email %>
</p>

<p>
  <strong>Registration mobile:</strong>
  <%= @registration.registration_mobile %>
</p>

<p>
  <strong>Registration landline:</strong>
  <%= @registration.registration_landline %>
</p>

<p>
  <strong>Registration state:</strong>
  <%= @registration.registration_state %>
</p>

<p>
  <strong>Registration district:</strong>
  <%= @registration.registration_district %>
</p>

<p>
  <strong>Registration taluka:</strong>
  <%= @registration.registration_taluka %>
</p>

<p>
  <strong>Registration city:</strong>
  <%= @registration.registration_city %>
</p>

<p>
  <strong>Registration address:</strong>
  <%= @registration.registration_address %>
</p>

<p>
  <strong>Registration pincode:</strong>
  <%= @registration.registration_pincode %>
</p>

<p>
  <strong>Registration username:</strong>
  <%= @registration.registration_username %>
</p>

<p>
  <strong>Registration password:</strong>
  <%= @registration.registration_password %>
</p>

<p>
  <strong>Registration type:</strong>
  <%= @registration.registration_type %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
